/*
 * -------------------------------------------------
 *  starmap Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * @Repository
 * https://github.com/savytskanatalia/
 * @Author
 * Savytska Natalia, 2020. Genome Biology of Neurodegenerative Diseases, DZNE TU
 */

// Global default params, used in configs


manifest {
    homePage = 'https://github.com/savytskanatalia'
    description = 'starmap helps you map RNAseq data'
    mainScript = 'star_map.nf'
    version = '3.1.0'
}



process {
    cpus = 18
}





params {
  outdir='output'
  reads="*.fastq.gz"
  outdir='output'
  fasta=''
  index=''
  readlen=100
  threads=4
  mism=999
  misml=0.1
  staropt=''
  gtf=''
  ofmm=1
  wamm=1
}

// Load base.config by default for all pipelines
//includeConfig 'conf/base.config'


profiles {
  docker { docker.enabled = true 
            includeConfig 'conf/docker.config' }
}




// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/mapping_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/mapping_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/mapping_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/mapping_dag.html"
}

